.about {
  padding: 4rem 0;
}
.about-center {
  width: 80vw;
  margin: 0 auto;
}
.about-img {
  margin: 3rem 0;
  position: relative;
}
.about-info {
  margin-top: 3rem;
}

.about-img img {
  width: 100%;
  display: block;
  box-shadow: var(--lightShadow);
}
.about-img div {
  box-shadow: var(--lightShadow);
}
.about-info h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
}

@media screen and (min-width: 48rem) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
  }

  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-height: 31.25rem;
  }
  .img-container {
    max-height: 31.25rem;
  }
  .about-info p {
    width: 80%;
  }
}
@media screen and (min-width: 62px) {
  .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primaryColor);
    box-sizing: border-box;
    top: -1rem;
    left: -1rem;
    z-index: -1;
  }
}

@media screen and (min-width: 75rem) {
  .about-center {
    width: 95vw;
    max-width: 73.125rem;
  }
}
