.header {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  margin: 3rem 7.5vw;
  display: flex;
}
.photo {
  width: 100%;
  margin-right: 2rem;
}
.photo img {
  width: 100%;
  display: block;
  box-shadow: var(--lightShadow);
}
.text {
  display: flex;
  flex-direction: column;
  /* color: var(--darkGrey); */
}
.list {
  list-style: none;
  color: var(--mainBlack);
}
.heading {
  display: flex;
  justify-content: center;
}
.heading span {
  color: var(--primaryColor);
  margin-left: 0.35rem;
}
.tech-stack {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 43.75rem) {
  .photo {
    height: 70vh;
  }
  .body {
    flex-direction: column;
    align-items: center;
    margin: 3rem 5vw;
  }
}

@media screen and (max-width: 34.375rem) {
  .photo {
    height: 70vh;
  }
}
@media screen and (max-width: 31.25rem) {
  .tech-stack {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 28.125rem) {
  .photo {
    width: 65vw;
    height: auto;
    margin: 0 0 2rem;
  }
}
