.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
}
.banner h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 1rem;
  letter-spacing: 6px;
  text-shadow: 4px 4px var(--mainBlack);
}
.banner p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .banner h1 {
    font-size: 4.5rem;
  }
  .banner p {
    width: 70%;
  }
}
@media screen and (min-width: 25rem) {
  .banner h1 {
    font-size: 3.3rem;
  }
  .banner p {
    width: 85%;
  }
}
