.contact {
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
}

.contact label {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  display: block;
}

.formControl,
.submit {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--darkGrey);
  border-radius: 0.25rem;
}
.submit {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  text-transform: uppercase;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  cursor: pointer;
}
.submit:hover {
  background: var(--darkGrey);
  color: var(--mainWhite);
  border-color: var(--darkGrey);
}

@media screen and (min-width: 62rem) {
  .center {
    width: 50vw;
    margin: 0 auto;
  }
}
