.modal {
  position: fixed;
  z-index: 500;
  background-color: var(--offWhite);
  height: 85%;
  width: 80%;
  left: 10%;
  top: 10%;
  box-shadow: var(--darkShadow);
  padding: 1em 3em;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 0.5em;
  overflow-y: auto;
  border: 2px solid var(--primaryColor);
}
.photo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  max-height: 35vh;
  margin: 1rem auto 1rem auto;
  border: 1px solid var(--darkGrey);
  box-shadow: var(--lightShadow);
}

.links {
  display: flex;
  align-items: center;
}
.links a {
  font-size: 1.4rem;
  padding: 0.4rem;
}
.links a,
.links a:visited {
  color: var(--primaryColor);
}
.links a:hover {
  transition: var(--mainTransition);
  transform: translateY(-0.25rem);
}
@media screen and (max-width: 38rem) {
  .title {
    font-size: 110%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 28rem) {
  .modal {
    padding: 1em;
  }
}
