.container {
  width: 35vw;
  margin: 1.5rem 2rem 2rem;
  box-shadow: var(--lightShadow);
  overflow: hidden;
}
.container:hover {
  transition: var(--mainTransition);
  box-shadow: var(--darkShadow);
}
.preview {
  min-height: 35vh;
  background: top/cover no-repeat;
}
/* .preview:hover {
  transition: var(--mainTransition);
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.9;
} */

.details {
  padding: 1.5rem;
  background-color: var(--mainGrey);
}
.detailGroup {
  display: flex;
  justify-content: space-between;
}
.title {
  margin-bottom: 0;
}
.icons {
  display: flex;
  list-style: none;
  font-size: 2.5rem;
  flex-wrap: wrap;
}
.icons svg {
  padding: 0.4rem;
}
.icons img {
  margin: auto;
  height: 1.75rem;
}
.project-link {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 78.125rem) {
  .preview {
    min-height: 65vh;
  }
  .container {
    width: 90vw;
    height: 70%;
  }
  .container:hover {
    width: 93vw;
  }
}
@media screen and (max-width: 65.625rem) {
  .preview {
    min-height: 55vh;
  }
}
@media screen and (max-width: 46.875rem) {
  .preview {
    min-height: 35vh;
  }
  .container {
    height: 60%;
  }
}
@media screen and (max-width: 25rem) {
  .preview {
    min-height: 25vh;
  }
  .details {
    padding: 0.5rem;
  }
}
