.links {
  display: flex;
}
.links a {
  font-size: 1.4rem;
  padding: 0.4rem;
}
.links a,
.links a:visited {
  color: var(--primaryColor);
}
.links a:hover {
  transition: var(--mainTransition);
  transform: translateY(-0.25rem);
  color: var(--mainBlack);
}
