.container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: auto;
  align-items: center;
  margin-bottom: 3rem;
}
.tech-icon {
  font-size: 5em;
}

@media screen and (max-width: 31.25rem) {
  .container {
    width: 45vw;
    text-align: center;
  }
}
