.template {
  margin: 3rem;
}
.container {
  width: 80vw;
}
.task {
  list-style: none;
  margin-bottom: 1rem;
}

@media screen and (max-width: 27.5rem) {
  .template {
    margin: 1.5rem;
  }
  .container {
    width: 90vw;
  }
}
