.body {
  margin: 3rem 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body h4 {
  margin-bottom: 0;
}
@media screen and (max-width: 78.125rem) {
  .projects {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 22rem) {
  .body {
    margin: 3rem 1.5rem;
  }
}
